.landing-get-started-container {
  position: absolute;
  bottom: 0;
  background: #2b2c2e;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
}

.landing-get-started {
  color: #ffffff;
  font-size: 1.6rem;
  max-width: 940px;
  width: 100%;
}
