.container {
  width: 100%;
  padding: 0 20px;
  margin: 30px auto;
}

.card-header {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-around;
}

.edit {
  cursor: pointer;
}

.container h1 {
  font-size: 2.5rem;
  color: black;
}

.container h2 {
  font-size: 1.6rem;
}

.container p {
  font-size: 2.2rem;
  /* font-style: italic; */
  color: black;
}
