header .nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

header .active {
  border-bottom: solid #065203 5px;
}

header .nav_link:hover {
  border-bottom: solid #065203 5px;
}

.company-name {
  color: #000000;
  padding-left: 4px;
  font-size: 18px;
  font-weight: bold;
}
