.settings_info {
  display: flex;
  flex-direction: column;
  width:100%;
  
}

.settings_info input {
  margin: 0px auto;
  margin-bottom: 10px;
}
.settings_info p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 5px;
}
.settings_info button {
  margin: 0px auto;
  border: 1px inset gray;
  border-radius: 3px;
  font-size: 2rem;
  padding: 1px 0;
  width: 80px;
  box-shadow: 3px 3px 3px lightgray;
}

.settings_info button:hover {
  border: 1px outset gray;
  background: lightgray;
  cursor: pointer;
}
