.create-invoice-button {
  text-align: center;
}

.invoice-button-circle {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  margin-left: 100px;
  display: inline-block;
}
