.invoice-card {
  width: 250px;
  height: 180px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.invoice-card h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

}

.invoice-card p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.8rem;
}

.status-unpaid{
  border-color: yellow;
  box-shadow: 0 0 5px yellow;
}

.status-paid {
  border-color: green;
  box-shadow: 0 0 5px green;
}
.status-late{
  border-color: red;
  box-shadow: 0 0 5px red;
}