.invoices-container {
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  min-height: 400px;
}

.card-links {
  text-decoration: none;
  color: black;
}
/* basic positioning */
.legend {
  list-style: none;
  border: 1px solid black;
  height: 20px;
  margin-top: 10px;
  width: 190px;
  padding:6px 0px 2px 5px;

}

.legend li {
  float: left;
  margin-right: 10px;
  font-size: 1.5rem;
}
.legend span {
  border: 1px solid black;
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}
/* colors */
.legend .paid {
  background-color: green;
  box-shadow: 0 0 5px green;

}
.legend .late {
  background-color: red;
  box-shadow: 0 0 5px red;

}
.legend .unpaid {
  background-color: yellow;
  box-shadow: 0 0 5px yellow;

}
